body {
    background: url(../img/57595.jpg);
	background-position: center top;
	color: green;
    font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: regular;
	
	 
	}
button {
	width: 100%;
	font-size: 17px;
	background-color: #5aacb3;
    border: none;
    color: white;
    padding: 6px 32px;
    text-align: center;
	text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
}
button.bal {
	width: 100%;
	font-size: 17px;
    background-color: #5aacb3; 
    border: none;
    color: white;
    padding: 6px 32px;
    text-align: center;
	text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
}
button.bal:hover {
    background-color: #4CAF50;
    color: #ffffff;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.12), 0 17px 50px 0 rgba(0,0,0,0.10);
}

button:hover {
    background-color: #bf3333;
    color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.12), 0 17px 50px 0 rgba(0,0,0,0.10);
}
button:active {
    background-color: #ddd057;
    color:  #444444;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.12), 0 17px 50px 0 rgba(0,0,0,0.10);
}
.piu {
	width: 100%;
    text-align: center;
     border-color: #f0f0f0;
	color: #2f4f4f;
	font-size: 12px;
	background: rgba(255, 255, 255, 0.6);
	}
.regblock {
    text-align: center;
     border-color: #f0f0f0;
	color: #2f4f4f;
	}
select {
    width: 100%;
	font-size: 18px;
	font-color: #f4f3ec;
	text-transform: uppercase;
	text-align: center;
    padding: 6px 20px;
    border: 3px solid #0fcf71;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9);
}
input {
	font-size: 18px;
	font-color: #f4f3ec;
	width: 100%;
	text-align: center;
    padding: 6px 0px;
    border: 3px solid #0fcf71;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9);
}
input.balance {
	font-size: 18px;
	font-color: #f4f3ec;
	width: 100%;
	text-align: center;
    padding: 6px 0px;
    border: 3px solid #0fcf71;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9);
}
input:focus {
    border: 4px solid #d5dfd8;
}
.windo {
    margin: auto;
    width: 60%;
	height: 60%;
    border: none;
	background: rgba(255, 255, 255, 0.7);
    padding: 10px 10px;
}
.hh {
    margin: auto;
    width: 60%;
	height: 60%;
    border: none;
	background: rgba(0,96,98, 0.4);
    padding: 10px ;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.hhh {
    margin: auto;
    width: 60%;
	height: 60%;
    border: none;
	background: rgba(35, 107, 80, 0.8);
    padding: 10px ;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	font-weight: regular;
}
.summ {
	width: 80%;
    float: left;
	}
.coi {
	width: 19%;
    float: right;
}
.pp1 {
	width: 49%;
    float: left;
}
.pp2 {
	width: 49%;
    float: right;
}
.yeah {
	color: #5dd665;
}
.nono{
	color: #ea5f5f;
}
.table2 {
	margin: auto;
    display: table;
    background: rgba(255, 255, 255, 0.0);
    border-color: #eeeeee;
    padding: 0;
    border-spacing: 5px 5px;
		width: 60%;
}
.row {
	display: table-row;
    background: rgba(255, 255, 255, 0.6);
    border-color: #f7f7f7;
	}
.cell {
    display: table-cell;
	text-align: center;
    background: rgba(255, 255, 255, 0.6);
    border-color: #f0f0f0;
	color: #2f4f4f;
	}
.celll {
    display: table-cell;
	text-align: center;
    background: rgba(255, 255, 255, 0.6);
    border-color: #f0f0f0;
	font-weight: bold;
	color: #444444;
	padding: 0px 10px;
	font-size: 20px;
	}
.logo {
	border: none;
	margin: auto;
	text-align: center;
	background: none;
	font-size: 25px;
	color: white;
	width: 60%;
	}
.warn {
	margin: auto;
	font-weight: bold;
	border: none;
	border-left: 5px solid #bf3333;
	padding: 10px 10px;
	background: rgba(255, 0, 0, 0.6);
	font-size: 12px;
	color: #ffffff;
	width: 97%;
	}
a {
color: #f2bd42;
font-weight: bold;
text-decoration: none;
}
a:hover {
color: 	#fffc18;
font-weight: bold;
text-decoration: none;
}